name: Validate

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"

      - name: Install Taskfile
        uses: arduino/setup-task@v1
        with:
          version: latest

      - name: Install dependencies
        run: uv sync --extra azure

      - name: Run tests
        run: task test
